In [1]:
import pandas as pd

In [3]:
import pandas as pd

# Replace 'your_csv_file.csv' with the actual file path
csv_file_path = 'datasets/Traveloka-id application rating and review dataset.csv'

# Try reading the CSV file with different encodings
encodings = ['utf-8', 'latin1', 'ISO-8859-1', 'utf-16']
df = None

for encoding in encodings:
    try:
        df = pd.read_csv(csv_file_path, encoding=encoding)
        break
    except UnicodeDecodeError:
        print(f"Failed to decode with {encoding} encoding. Trying another encoding...")

# Display the DataFrame if successfully read
if df is not None:
    df.head()
else:
    print("Unable to read the CSV file. Check the file path and encoding.")

Failed to decode with utf-8 encoding. Trying another encoding...

In [4]:
df.head()

,Nama,Bintang,Tanggal dan Waktu,Ulasan
0,Edy Suranto,5.0,11/17/2023 9:33,"Aplikasi yang sangat bagus, banyak sekali prom..."
1,p mustika,2.0,11/16/2023 21:27,Semua aman terkendali sampai akun paylater di ...
2,Akhmad Jailani,5.0,11/9/2023 5:14,"Aplikasi yang sangat bagus, banyak promo yang ..."
3,Laras Ayu,5.0,11/13/2023 9:07,"Aplikasi yang sangat bagus, banyak promo yang ..."
4,19 chanel,5.0,11/17/2023 5:29,Aplikasi ini sangat memudah urusana perjalanan...

In [7]:
df['review'] = df['Ulasan']
df = df.drop(["Nama", "Bintang", "Tanggal dan Waktu", "Ulasan"], axis=1)
df.head()

                                              review
0  Aplikasi yang sangat bagus, banyak sekali prom...
1  Semua aman terkendali sampai akun paylater di ...
2  Aplikasi yang sangat bagus, banyak promo yang ...
3  Aplikasi yang sangat bagus, banyak promo yang ...
4  Aplikasi ini sangat memudah urusana perjalanan...

In [8]:
df.to_csv('datasets/traveloka_review.csv', index=False)